/*
Trying to style this like the main graph on cytoscape.org
Styles for nodes etc are specified in visualize.js
*/
body{
	background-color: black;
	font: 14px arial sans-serif;
}
ul{
	list-style: none;
}
#cy{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 20em;
}
.cy-panzoom{
	position:absolut;
	top: 50%;
}
#config{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 20em;
	background-color: #aaa;
	box-sizing: border-box;
}