{% extends "base.html" %}

{% block title%}
Impressum
{% endblock %}

{% block head%}
<style type="text/css">
h2{
	text-align: left;
}
#content{
	position: absolute;
	left: 5%;
}
</style>
<!-- This is just a quickfix for deploy, bundle only contains base.css -->
{% assets "contact.css" %}
	<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block body%}
<div id="content">
	<h2>Anschrift</h2>
	Simon Wülker<br>
	Johannes-Reuchlin Str. 13<br>
	72076 Tübingen<br>

	<h2>Kontakt</h2>
	simon.wuelker@arcor.de<br>
</div>
{% with display=True %}
	{% include "counter.html" %}
{% endwith %}
{% endblock %}
