/*
Trying to style this like the main graph on cytoscape.org
Styles for nodes etc are specified in visualize.js
*/
body{
	background-color: black;
}

ul{
	list-style: none;
}
table{
	font-size: 20px;
	width: 100%;
	color: white;
}
#cy{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 15em;
	right: 20em;
}
#numClusters{
	width: 2em;
}
.cy-panzoom{
	display: inline;
	position:absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	vertical-align: middle;
}
#info{
	color: white;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 20em;
	height: 15em;
	background-color: #444;
	box-sizing: border-box;
}
#config{
	color: white;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 20em;
	background-color: #555;
	box-sizing: border-box;
	padding: 10px;
	overflow: hidden;
}
.toggle_collapsible{
	width: 100%;
	outline: none;
	text-align: left;
	background-color: #333;
	border: none;
	color: white;
	padding: 5px;
	margin-bottom:5px;
}
.toggle_collapsible:hover{
	background-color: #666;
}
.content{
	display: none;
}
#startDownload, #pretty_select{
	width: 100%;
}
#credits{
	position: absolute;
	font-size: 10px;
	bottom: 15px;
	left: 15px;
}
