p{
	position: relative;
	width: 65%;
	left: 17.5%;
	font-size: 16px;
}
dl{
	position: relative;
	width: 65%;
	left: 17.5%;
}
dt{
	margin-top: 15px;
}
dd{
	margin-left: 50px;
}
h2{
	margin-top: 50px;
}
