/*
Fix placeholder being cut off
See https://github.com/select2/select2-bootstrap-theme/issues/77#issuecomment-377123158
*/

.select2-container .select2-selection__rendered > *:first-child.select2-search--inline {
    width: 100% !important;
}
.select2-container .select2-selection__rendered > *:first-child.select2-search--inline .select2-search__field {
    width: 100% !important;
}

.select2-selection__rendered {
    border-radius: 4px 0px 0px 4px;
}

.select2-search {
    border-radius: 4px 0px 0px 4px;
}

.select2-search:hover {
    background-color: #f0f0f0;
}

.select2-selection {
    /* border: 1px solid #353535 !important; */
    border: 1px solid #e6e6e6 !important;
    /* border: none !important; */
}

.select2-selection {
    background-color: transparent !important;
    border-radius: 4px 0px 0px 4px !important;
}

.select2-container--focus{
    background-color: transparent;
}

.searchButton {
    background-color: #f0f0f0;
    border: 1px solid #e6e6e6;
    z-index: 3;
}
/*Remove blue Border around Dropdown*/
.select2-dropdown{
    border: none;
    border-radius: 2px!important;
}

/*DARKMODE (maybe add media-prefers later)*/

/*Search Icon*/
.searchButton {
    background-color: #424242 !important;
    color: #E0E0E0 !important;
    border: 1px solid #353535 !important;
}
.searchButton:hover {
    background-color: #353535 !important;
    color: #E0E0E0 !important;
}

/*Search Bar*/
.select2-search {
    background-color: #515151;
    color: #E0E0E0;
    border: 1px solid #353535;
}
.select2-search:hover {
    background-color: #424242;
    color: #E0E0E0;
}
/*Selected Items (The little rectangles)*/
.select2-container--bootstrap .select2-selection .select2-selection__choice {
    background-color: #676767;
    color: #E0E0E0;
    border: 1px solid #353535;
}
/*Dropdown*/
.select2-results__option{
    color: #E0E0E0;
    background-color: #353535;
    border-bottom: 1px solid #222222;
}
.select2-results__option[aria-selected=true] {
    color: #E0E0E0!important;
    background-color: #555555!important;
    border-bottom: 1px solid #222222;
}
.select2-container--bootstrap .select2-results__option--highlighted[aria-selected=false] {
    background-color: #454545;
    color: #E0E0E0;
}
.select2-selection {
    color: #E0E0E0!important; /*Maybe remove color idk*/
    border: none !important;
}
.select2-container--bootstrap .select2-selection--single .select2-selection__rendered{
    color: #E0E0E0;
}
/*Select2 Single dropdown search field*/
.select2-container--bootstrap .select2-search--dropdown .select2-search__field{
    background-color: #444;
    color: #E0E0E0;
    border: 1px solid #222;
}
/*Top-level background*/
.input-group{
    background-color: #383838;
    border: none;
    border-radius: 3px;
}
.input-group:hover{
    background-color: #333;
}

/*This is stuff for the character option preview (select2 html content)*/
.select2-result-character{
    height: 50px;
}
.select2-result-character__avatar{
    float: left;
    width: 34px;
    margin-right: 10px;
}
.select2-result-character__avatar img{
    width: 100%;
    height: auto;
    border-radius: 2px;
}
.select2-result-character__name{
    font-weight: bold;
}
.select2-result-copyright{
    font-size: 10px;
    font-style: italic;
    position: relative;
    text-align: right;
}
/*Default Bootstrap padding is not equal on all sides*/
.select2-container--bootstrap .select2-results__option{
    padding: 10px;
}

