.row{
	width: 100%;
	left: 0;
	right: 0;
	height: 80%;
}
.pretty_canvas{
	position: relative;
	color: #E0E0E0;
	width: 80%!important;
	height: 70%!important;
	left: 10%;
}

/*FIRST CANVAS*/
#select2_evc_container{
	position: relative;
	width: 50%;
	left: 25%;
	right: 25%;
}
