/*The Info table on the right of the page*/
#cycle_attributes{
	position: absolute;
	right: 5%;
}
/*Select2 Element*/
#select2_cycleselector_container{
	position: absolute;
	width: 30%;
	left: 35%;
}
/*The chart.js canvas*/
.pretty_canvas{
	position: relative;
	width: 70%!important;
	left: 15%;
	height: 80%!important;
}