.row{
	width: 100%;
	left: 0;
	right: 0;
	height: 80%;
}
.pretty_canvas{
	position: relative;
	color: #E0E0E0;
	width: 80%!important;
	height: 70%!important;
	left: 10%;
}

/*FIRST CANVAS*/
#select2_evc_container{
	position: relative;
	width: 50%;
	left: 25%;
	right: 25%;
}

/*SECOND CANVAS*/
#select2_group{
	display: flex;
	height: 34px;
}
#select2_char_1_container{
	position: absolute;
	width: 30%;
	left: 10%;
}
#select2_char_2_container{
	position: absolute;
	width: 30%;
	right: 10%;
}
