.row{
	width: 100%;
	left: 0;
	right: 0;
	height: 70%;
}
.pretty_canvas{
	position: relative;
	left: 10%;
	right: 10%;
	top: 50%;
	color: #E0E0E0;
	width: 80%!important;
	height: 70%!important;
}
#select2_evc_container{
	position: absolute;
	width: 50%;
	left: 25%;
	right: 25%;
	align-content: center;
}