body{
	background-color: black;
}
#cy{
	position: absolute;
	left: 0;
	right: 20em;
	bottom: 0;
	top: 50px;
}
.cy-panzoom{
	display: inline;
	position:absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	vertical-align: middle;
}
#config{
	background-color: #222;
	color: #E0E0E0;
	position: absolute;
	top: 50px;
	bottom: 0;
	right: 0;
	width: 20em;
	box-sizing: border-box;
	overflow: scroll;
}
.section{
	margin: 10px;
}
.pretty_button{
	width: 100%;
}
.color_block{
	display: inline-block;
	width: 25px;
	height: 13px;
	border: 3px solid rgba(0, 0, 0, 0.2);
}
#startDownload {
	width: 60%;
	left: 5px;
	position: relative;
}
.row {
  display: inline-block;
  margin-top: 5px;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}
#communities{
	position: relative;
	width: 75%;
	left: 12.5%;
}