{% extends "base.html" %}

{% block title %}
Zyklusanalyse
{% endblock %}

{% block head %}
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes"></script>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/cycles.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/cycles.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/color_generator.js') }}"></script>
{% endblock %}

{% block body %}
	<div id="select2_cycleselector_container">
		{% with id="select2_cycleselector", ajax_url="/api/search_cycles", placeholder="Wählen sie einen Zyklus", single=True %}
			{% include "character_selector.html"%}
		{% endwith %}
	</div>
	<table id="cycle_attributes">
		<tr>
			<th>Name:</th>
			<td id="cycle_name">Lade...</td>
		</tr>
		<tr>
			<th>Personen:</th>
			<td id="cycle_num_persons">Lade...</td>
		</tr>
		<tr>
			<th>Verbindungen:</th>
			<td id="cycle_num_relations">Lade..</td>
		</tr>
		<tr>
			<th>Verbundenheit:</th>
			<td id="cycle_clustering">Lade...</td>
		</tr>
	</table>

	<canvas id="cycle_evc_ranking" class="pretty_canvas">
	</canvas>
	<h2>Gruppenanalyse</h2>
	<div id="community_info">
		<div id="community_list_container">
			<div class="foreground">
				<ol id="community_list"></ol>
			</div>
		</div>
		<div id="community_members_container">
			<div class="foreground" id="community_members"></div>
		</div>
		<div id="community_ranking_container">
			<div class="foreground">
				<canvas id="community_ranking"></canvas>
			</div>
		</div>
		
	</div>
{% endblock %}