{% extends "base.html" %}

{% block title %}
Statistiken
{% endblock %}

{% block head %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/statistics.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/statistics.css') }}">
{% endblock %}


{% block body %}
<!-- Eigenvector centrality -->
<div class="row">
	<h2>Eigenvektorzentralität</h2>
	<div id="select2_evc_container">
		{% with id="select2_eigenvector_centrality", ajax_url="/api/search_characters"%}
			{% include "character_selector.html" %}
		{% endwith %}
	</div>
	<canvas id="eigenvector_centrality" class="pretty_canvas"></canvas>
</div>
{% endblock %}